/node_modules/
/vendor/
package-lock.json
.DS_Store
.htaccess
package-lock.json
*.cache
*.lock

# eclipse
.buildpath
.project
.settings

# netbeans
/nbproject/

# phpstorm
/.idea/

# vscode
.vscode
*.code-workspace

# ia
.codex
.claude
# IA
CLAUDE.md
/.claude
.codex
